div.digikaladiv{
    width: 99%;
    height:inherit;
    box-sizing: border-box;
    margin: 0 auto;
    /* border: 1px solid green;   */
    margin-top: 20px;
    text-align: center;
    
}
div.digikaladiv>div.all{
    width:88%;
    height:100px ;
    margin: 0 auto;
    /* border: 1px solid red;  */
    margin-top: 15px;

}

div.digikaladiv>div.all>div{
    display: inline-block;
  
}
div.digikaladiv>div.all>div.digi{
    width:30%;
    /* border: 1px solid brown;  */
  

    
}

div.digikaladiv>div.all>div.digi>p{
   width:40%;
   font-family:body1;
   font-size: 27px;
   font-weight:bold;
   color: red;
   /* border: 1px solid green;  */
  

}
div.digikaladiv>div.all>div.returnup{
    width:50%;
    height: 30px;
    /* border: 1px solid green;  */
    border-radius: 5px;

    
   
}
div.digikaladiv>div.all>div.returnup>a{
    text-decoration: none;
  
}

div.digikaladiv>div.all>div.returnup>a>p{
 width:18%;
font-family: body1;
font-size:13px;
vertical-align: middle;
margin-top: 5px;
text-align: center;
border-radius: 5px;
color: rgb(237, 233, 233);
border: 1px solid rgb(45, 17, 71);
margin-right:600px;
margin-left: 0;
background-color:rgb(163, 21, 21);

}
div.digikaladiv>div.all>div.tell{
    /* border: 1px solid greenyellow; */
    text-align:right;
    margin: 20px;
}
div.digikaladiv>div.all>div.tell>p{
    font-family: body1;
    font-size: 12px;
    margin-top: 10px;
    color: rgb(47, 12, 80);
    text-align: right;
}
div.digikaladiv>div.service5{
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid green; */
}

div.digikaladiv>div.service5>div{
    display: inline-block;
   /* border: 1px solid pink;  */
padding: 30px;
padding-right: 40px;
    text-align: center;
}
div.digikaladiv>div.service5>div>a{
    text-decoration: none;
}
div.digikaladiv>div.service5>div>a>p
{
font-family: body1;
font-size: 12px;
text-align: center;
}
div.digikaladiv>div.service5>div>a>svg{
    text-align: center;
  
}
div.digikaladiv>div.service4{
    width:97%;
    margin: 0 auto;
    /* border: 1px solid green;  */
    margin-top: 60px;
    text-align: center;
    

}
div.digikaladiv>div.service4>div{
    display: inline-block;
    vertical-align: top;
    text-align: right;
    /* border: 1px solid red;  */
    
}
div.digikaladiv>div.service4>div:nth-of-type(2),div.digikaladiv>div.service4>div:nth-of-type(3),div.digikaladiv>div.service4>div:nth-of-type(4){
    margin-right:180px;

}
div.digikaladiv> div.service4>div>div.a>p{
    font-family: body1;
    font-size:16px;
    color: rgb(52, 13, 88)
}
div.digikaladiv> div.service4>div>div>a{
    text-decoration: none;
}
div.digikaladiv> div.service4>div>div>a>p{
    font-family:body1;
    font-size: 13px;
    margin-top: 16px;
    color:rgb(61, 8, 111);
}

div.digikaladiv> div.service4>div>div.b{
    /* border:1px solid green */
}
div.digikaladiv> div.service4>div>div.b>div{
    margin-top: 10px;
    width: 60px;
    height: 60px;
    display: inline-block;
    /* border: 1px solid red; */

}

div.digikaladiv> div.service4>div>div.b>div>a>img{
    display:inline-block;
    width: 40px;
    height: 40px;
    background-color: lightgrey;
    text-align: center;
    margin: 0 auto;
   
}
div.digikaladiv> div.service4>div>div.c>p{
    font-family: body1;
    font-size: 12.5px;
}
div.digikaladiv> div.service4>div>div.d{
  background-color: lightgray;
  height: 50px;
  border-radius: 10px;
  margin-top: 15px;

}
div.digikaladiv> div.service4>div>div.d>label>b{
    font-family: body1;
    margin-top: 10px;
    /* border: 1px solid green; */
    padding: 10px;
}

div.digikaladiv> div.service4>div>div.d>label{
color: rgb(63, 36, 87);
font-family: body1;


}

div.digikaladiv> div.service4>div>div.d>input{
    height:20px;
    background-color:lightgrey;
    border: 1px solid transparent;
    font-size: 13px;
    margin-top: 10px;
  

}
