div.sell1 {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    margin-top: 30px;
  
    /* border: 1px solid green; */
  }
  div.sell1>div.pic{
    width: 88%;
    margin: 0 auto;
    /* border: 1px solid red; */
    display:flex;
    
  }
  div.sell1 > div.pic > div {
    display: inline-block;
    width: 600px;
    height: inherit;
   /* border: 1px solid brown; */
   margin: 0 auto;
  
    /* vertical-align: middle;  */
  }
  div.sell1 > div.pic>div > a > img {
    width: 610px;
    margin: 0 auto;
    border-radius: 10px;
  }
  