div.sell7{
    width: 100%;
    height:inherit;
    margin: 0 auto;
   border-bottom: 1px solid lightgray;
  
}
div.sell7>div.top>div{
    display: inline-block;
    width: 40%;
    margin-right: 30px;
    /* border: 1px solid gray; */
}
div.sell7>div.top>div.reads{
    /* border: 1px solid green; */
  
}
div.sell7>div.top>div.reads>p{
font-family: body1;
font-size: 16px;
text-align: right;
margin-right: 100px

}

div.sell7>div.top>div.morereads{
    /* border: 1px solid green; */

    margin-left: 0;

}   
div.sell7>div.top>div.morereads>a{
    text-decoration: none;
}

div.sell7>div.top>div.morereads>a>p{
    font-family: body1;
    font-size: 13px;
    color: lightseagreen;
    text-align: left;
   

}
div.sell7>div.bottom{
    width: 88%;
/*     border: 1px solid  green; */
    margin: 0 auto;
    text-align: center;
}
div.sell7>div.bottom>div{
    width:22%;
    height: 250px;
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin: 0 auto;
    vertical-align: top;
}

div.sell7>div.bottom>div>a>img{
   
  width:300px;
    display:flex;
  border-radius: 10px;
}
div.sell7>div.bottom>div>a{
    text-decoration: none;
}
div.sell7>div.bottom>div>a>p{
    color: black;
 font-family: body1;
    font-size:12px;
    margin: 12px;
}
