div.slider2 {
  width: 100%;
  box-sizing: border-box;
  /* border: 1px solid blue; */
}

div.childslider2 {

  width: 91%;
  height: 280px;
  background-color: rgb(240, 31, 73);
  border-radius: 15px;
  margin: 0 auto;
  padding: 5px;
}

div.slider2 > div.childslider2 > div {
 display: inline-block; 
  vertical-align: middle;
}

div.childslider2 > div.leftslider2 {
  width: 99%;
  height: 280px;
  /* border: 3px solid pink; */

  vertical-align: middle;
  border-radius: 10px;
  margin: 0 auto;
}

div.childslider2 > div.leftslider2 > div > div {
  width: 100%;
  margin-top: 12px;

  /* border: 3px solid gray; */
}

div.childslider2 > div.leftslider2 > div > div > div {
  width: 80%;
  height: 255px;
  vertical-align: middle;
  margin: 0 auto;
   /* border: 1px solid green;  */

}
div.childslider2 > div.leftslider2 > div > div > div>a{
  text-decoration: none;
}


div.childslider2 > div.leftslider2 > div > div > div>a>p{
 
font-family: body;
font-size: 13px;
font-weight: bold;
list-style: none;
text-align: center;
text-decoration: none;
color: rgb(96, 93, 93);
line-height: 30px;
margin-right: 10px;
margin-bottom:15px;

   /* border: 1px solid black;  */
}

div.childslider2 > div.leftslider2 > div > div > div > a > img {
  width: 140px;
  height: 130px;
  margin: 0px;
  margin-bottom:50px;
  object-fit: cover;
  /* border: 1px solid black;  */
}
div.childslider2 > div.leftslider2 > div > div > div:nth-of-type(1) > a > img {
  width: 120px;
  height: 110px;
  vertical-align: middle;
  /* border: 1px solid green; */
  margin: 20px;
}

div.childslider2 > div.leftslider2 > div > div > div:nth-of-type(1) > a > p {
  font-family: body1;
  font-size: 12px;
  color: white;
  margin: 0 auto;
  /* border: 1px solid green; */
  margin-bottom: 60px;
}

div.childslider2 > div.leftslider2 > div > div > div:nth-of-type(1) > a > h3 {
  width: 120px;
  text-align: center;
  list-style: circle;
  margin-right: 17px;
  margin-top:60px;
  font-family: IranSans;
  font-size: 18px;
  color: white;
  /* border: 1px solid pink; */
}
div.childslider2 > div.leftslider2 > div > div > div:nth-of-type(1) > a {
  text-decoration: none;
}

div.childslider2 > div.leftslider2 > div > div > div:nth-of-type(1) {
  background-color: transparent;
}
div.childslider2 > div.leftslider2 > div > div > div:nth-of-type(2){
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
div.childslider2 > div.leftslider2 > div > div > div:nth-last-of-type(1){
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;

}
div.childslider2 > div.leftslider2 > div > div > div:nth-last-of-type(1)>a{
text-decoration: none;
font-family: body1;
font-size: 15px;
color: red;
}
div.childslider2 > div.leftslider2 > div > div > div:nth-of-type(2):after,
div.childslider2 > div.leftslider2 > div > div > div:nth-of-type(3):after,
div.childslider2 > div.leftslider2 > div > div > div:nth-of-type(4):after,
div.childslider2 > div.leftslider2 > div > div > div:nth-of-type(5):after,
div.childslider2 > div.leftslider2 > div > div > div:nth-of-type(6):after,
div.childslider2 > div.leftslider2 > div > div > div:nth-of-type(7):after,
div.childslider2 > div.leftslider2 > div > div > div:nth-of-type(8):after,
div.childslider2 > div.leftslider2 > div > div > div:nth-of-type(9):after,
div.childslider2 > div.leftslider2 > div > div > div:nth-of-type(10):after,
div.childslider2 > div.leftslider2 > div > div > div:nth-of-type(11):after,
div.childslider2 > div.leftslider2 > div > div > div:nth-of-type(12):after,
div.childslider2 > div.leftslider2 > div > div > div:nth-of-type(13):after {
  content: attr(data-discount);
  /* display:inline-block; */
  width: 30px;
  height: 20px;
  background-color: crimson;
  border-radius: 45%;
  color: whitesmoke;
  text-align: center;
  line-height: 20px;
  margin-right: 1px;
  font-size: 12px;
  font-family: IranSans;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: right;
  font-size: 18px;
  background: #fff;


  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
